@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Under Construction</h2>
<div>
    <a asp-page="./Matches/Create">Enter New Match</a>
</div>
<div>
    <a asp-page="./Leaderboard/Index">View Leaderboard</a>
</div>

