@page
@model TableTennisRazer.Pages.Matches.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Match</h4>
<hr />

@Html.DropDownListFor(x => x.SelectedMatchType, Model.MatchTypes, new { @id = "MatchTypeDropdown" })
<form method="post">
    <div class="row">
        <div class="text-center col-md-4">
            <div class="mr-2">
                <h3>Winning Team</h3>
                <div class="row">
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="MatchPeople[0].Person.PersonName" class="control-label"></label>
                        <input asp-for="MatchPeople[0].Person.PersonName" class="form-control" />
                        <span asp-validation-for="MatchPeople[0].Person.PersonName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" id="2v2Win" style="display:none">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MatchPeople[2].Person.PersonName" class="control-label"></label>
                        <input asp-for="MatchPeople[2].Person.PersonName" class="form-control" />
                        <span asp-validation-for="MatchPeople[2].Person.PersonName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Match.WinningScore" class="control-label"></label>
                        <input asp-for="Match.WinningScore" class="form-control" />
                        <span asp-validation-for="Match.WinningScore" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="text-center col-md-4">
            <div class="ml-2">
                <h3>Losing Team</h3>
                <div class="row">
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="MatchPeople[1].Person.PersonName" class="control-label"></label>
                        <input asp-for="MatchPeople[1].Person.PersonName" class="form-control" />
                        <span asp-validation-for="MatchPeople[1].Person.PersonName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" id="2v2Lose" style="display:none">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MatchPeople[3].Person.PersonName" class="control-label"></label>
                        <input asp-for="MatchPeople[3].Person.PersonName" class="form-control" />
                        <span asp-validation-for="MatchPeople[3].Person.PersonName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Match.LosingScore" class="control-label"></label>
                        <input asp-for="Match.LosingScore" class="form-control" />
                        <span asp-validation-for="Match.LosingScore" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" id="submitButton" />
    </div>
</form>







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            $("#MatchTypeDropdown").change(function () {
                switch ($(this).val()) {
                    case "1":
                        $("#2v2Lose").hide();
                        $("#2v2Win").hide();
                        break;
                    case "2":
                        $("#2v2Lose").show();
                        $("#2v2Win").show();
                        break;

                }
            });
        });


    </script>
}
